

.contactInfo{
  text-align: center;
}

.contactInfo h1{
  color: #1c418f;
}


.md-whiteframe-z1 {
  background: #fff;
  margin: 20px;
  padding: 20px; }

.educationFormal {
  display: inline;
  text-align: top;
}

.educationFormal h2 {
  color: #1c418f;
  margin-top: 0px;
  margin-left: 25px 25px 50px 50px;
  font-size: 21px;
  font-family: Georgia;
  text-align: left;
}


.skills li{
float: left;
width: 50%;
padding-right: 20px;
word-wrap: break-word;
list-style-position: inside;
}

.resumeFormal {
   padding: 20px 150px;
}

.boldText {
  font-weight: 100px;
  font-size: 15px;

}