<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container nopadding welcome">
  <center>
   


  <div class="row">
    <h2>Step 1</h2>
    <h3>Choose A template</h3>
    <div class="col-lg-12">
      <ul class="list-inline intro-social-buttons">
        <li>
          <a href="" ng-click="show('formal')"><center><img src = '../../assets/images/comp.png' class='ngdialog-content' width='200px'></center></a>
          <md-button class="btn btn-default btn-lg" ng-click="show('formal')">Formal</md-button>
        </li>
        <li>
          <a href="" ng-click="show('fancy')"><center><img src = '../../assets/images/comp.png' class='ngdialog-content' width='200px'></center></a>
          <md-button class="btn btn-default btn-lg" ng-click="show('fancy')">Fancy</md-button>
        </li>
      </ul>
    </div>
  </div>


  </center>
</div>

<div class="container">

<a class="waves-effect waves-light btn" ng-click="goToStep2()" style='float: right'><i class="mdi-content-send left"></i>Step 2</a>





<formal-template class = 'formal' ng-hide='!image.formal' ng-show="clicked"></formal-template>
<fancy-template class='fancy' ng-hide='!image.fancy'></fancy-template>

</div>
