<div ng-include="'components/navbar/navbar.html'"></div>

<div class="background">
    <div class="row">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 col s1" md-component-id="left" md-is-locked-open="$media('gt-md')">

            <md-content class="md-padding" ng-controller="LeftCtrl">
                <div>
                <md-button ng-click="showJobPost();" class="md-primary">
                    Post a Job
                </md-button>
                <br>
                <md-button ng-click="showUsers();" class="md-primary">
                    See Some Candidates
                </md-button>
                <br>
                <md-button ng-click="toggleRight()" class="md-primary">
                    Saved Candidates
                </md-button>
                </div>

                <ul class="collapsible" data-collapsible="accordion">
                   <li ng-repeat="job in jobs">
                       <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>{{job.jobtitle}}</div>
                       <div class="collapsible-body">
                        Date Posted: {{job.date | date}}
                        <p> 
                            <div class="users-for-jobs" ng-repeat="userj in job.user_ids">
                           <p ng-click="checkOutUser(userj, job)"> {{userj.name}}</p>
                          </div>
                         </p>
                       </div>
                   </li>
               </ul>
            </md-content>
        </md-sidenav>
        <div rusercard ng-show="showCard" class="col s6 offset-s2"></div>
        <div rpostedjobs ng-show="showPostedJob" class="col s6 offset-s2"></div>
        <div rpostjobs ng-show="showjobs"></div>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2 col s1" md-component-id="right">
            <md-content ng-controller="RightCtrl" class="md-padding">
                <div ng-repeat="user in users_saved" class="row">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <span class="card-title">{{user.name}}</span>               
                        </div>
                    </div>
            </md-content>
        </md-sidenav>
    </div>
</div>

