.md-sidenav-right {
    height: 920px;
    float: right;
}

.collapsible .raccordion {
	width: 250px;
}

.ruser-card{
	margin-top: 75px;
}

.postedJobsBanner {
	width: 100%;
	background-color: #499EC9;
	color: #fff;
}


