$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/rsignup/rsignup.scss';
@import 'admin/admin.scss';
@import 'fancyTemplate/fancyTemplate.scss';
@import 'formalTemplate/formalTemplate.scss';
@import 'jobpost/jobpost.scss';
@import 'killingTime/killingTime.scss';
@import 'main/main.scss';
@import 'resume/resume.scss';
@import 'resumeEdit/resumeEdit.scss';
@import 'rhome/rhome.scss';
@import 'modal/modal.scss';
// endinjector