label {
	font-size: 20px;
}

.rpromo {
	text-align: center;
}

.rsignup-button {
	font-size:25px;
	width: 200px;
}

input.form-control {
	font-size: 18px;
}

.left-row {
	float: left;
}

.right-row {
	float: right;
}

.divider {
	height: 200px;
}


