<div class="navbar-fixed" ng-controller="NavbarCtrl">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <div class="col s12">
          <a ng-hide="isRecruiter()" href="/" class="brand-logo">jobsies</a>
          <a ng-show="isRecruiter()" href="/rhome" class="brand-logo">jobsies</a>
          <ul class="right side-nav">
            <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                <a ng-href="{{item.link}}">{{item.title}}</a>
            </li>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
            <li ng-hide="isUser()" ng-class="{active: isActive('/resume')}"><a href="/resume">Resume Builder</a></li>
            <li ng-show="isUser()" ng-class="{active: isActive('/coverletter')}"><a href="/coverletter">Cover Letter Builder</a></li>
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/rsignup')}"><a href="/rsignup">Recruiters</a></li>
            <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
          </ul>
      </div>
    </div>
  </div>
  </nav>
</div>
