            <div class="card" ng-repeat="job in jobs" ng-show="$index===currentJob">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="user-information">
                <button class="btn btn-lg-default" ng-click="textBtnForm.$show()">Edit</button>
                <div editable-textarea="job.jobtitle" e-form="textBtnForm" onaftersave="edit(job)"><h1>Position Title: {{job.jobtitle}}</h1><br></div>
                <div editable-textarea="job.company" e-form="textBtnForm" onaftersave="edit(job)"><h2>{{job.company}}</h2><br></div>
                <div editable-textarea="job.formattedLocationFull" e-form="textBtnForm" onaftersave="edit(job)"><h2>{{job.formattedLocationFull}}</h2><br><br></div>
                <h2>Qualifications</h2>:<br>
                <div editable-textarea="job.qualifications" e-form="textBtnForm" onaftersave="edit(job)"><h3>{{job.qualifications}}</h3>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{job.jobtitle}}<i class="mdi-navigation-more-vert right"></i></span>
                <br>
                <p><a href="#!">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <div editable-textarea="job.snippet" e-form="textBtnForm" onaftersave="edit(job)">{{job.snippet}}<br></div>
                <div editable-textarea="job.summary" e-form="textBtnForm" onaftersave="edit(job)">{{job.summary}}<br></div>
                Number of users saving this job: {{job.user_ids.length}}
              </div>
