.background {
  background: #466368;
  background: radial-gradient(#648880, #293f50);
  height: 100%;
}
.fillerdiv{
    height: 300px;
}
.thing-form {
    margin: 20px 0;
}


#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

md-card {
    height: 600px;
    width: 100%;
    position: relative;
    background-color: #fff;
}
.buttons {
    bottom: 0;
}
.save{
    position: relative;
    bottom: 0%;
    width: 100px;
    height: 40px;
    float: right;
    right: 10%;
}
.pass{
    position: relative;
    bottom: 0%;
    width: 100px;
    height: 40px;
    float: left;
    left: 10%;
}

.apply {
    left: 30%;
    width: 200px;
}
.card-title {
    font-size: 25px;
}
.card-details {
    font-size: 20px;
}
.card-city {
    font-size: 18px;
}
.date-posted {
    font-size: 18px;
}
.card-city {
    font-size: 18px;
}
.card-company {
    font-size: 23px;
}

#navbar-main {
    background-color: #fff;
    border: none;
    margin-bottom: none;
}

#navbar {
    background-color: #fff;
    border: none;
    margin-bottom: none;
}

.navbar-static-top {
    background-color: #fff;
    border: none;
    margin-bottom: none;
}

li.a.active {
    background-color: #fff;
}