<div ng-include="'components/navbar/navbar.html'"></div>
<div class="background">
    <div class="row">
        <!-- this is start of right side navbar -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 col s2" md-component-id="left" md-is-locked-open="$media('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">ToolKit</h1>
            </md-toolbar>
            <md-button class="apply" ng-click="toggleRight()" class="md-primary">
                Saved Jobs
            </md-button>
            <md-content class="md-padding" ng-controller="LeftCtrl">
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <p>I want to work as a</p>
                <input type="text" class="form-control" ng-model="userHeadline" />
                <p>in</p>
                <input type="text" id="Autocomplete" class="form-control" ng-autocomplete details="details2" options="options" ng-model="jobLocation" />
                <button ng-click="updateJob(userHeadline, jobLocation)" class="btn waves-effect waves-light" type="submit" name="action">Update
                    <i class="mdi-content-send right"></i>
                </button>
            </md-content>
        </md-sidenav>
        <!-- this is the end of right sidebar -->

        <div class="col s8 offset-s1 jobsCard ">
            <div class=" card col s7 z-depth-5" ng-hide="searchDone">
                <div ng-repeat="job in jobArray" ng-show="$index===currentJob">
                    <div class='card-image'>
                        <h2>{{job.jobtitle}}</h2>
                        <div class="date-posted">Job Posted: {{job.formattedRelativeTime}}</div>
                        <div class="card-city">In {{job.formattedLocationFull}}</div>
                        <br>
                        <div class="card-details">{{job.snippet}}</div>
                        <br>
                        <br>
                        <center><img style='max-width:300px;max-height:150px' src='http://indeed.com/{{job.logo}}' onerror='this.onerror = null; this.src="http://i.imgur.com/TdzE0yr.jpg"'>
                        </center>

                    </div>
                    <div id="buttonsDiv" class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Click here for more details!<i class="mdi-navigation-more-vert right"></i></span>

                        <div>
                            <md-button class="md-raised md-warn pass" ng-click="saveOrPass('pass', job)">Pass</md-button>
                            <md-button class="md-raised md-primary save" ng-click="saveOrPass('save', job)">Save</md-button>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{job.jobtitle}} <i class="mdi-navigation-close right"></i></span>

                        <div class="date-posted">{{job.formattedRelativeTime}}</div>
                        <div class="card-city">{{job.formattedLocationFull}}</div>
                        <br>
                        <!-- <div class="card-company"><strong>{{job.company}}</strong>
                            </div> -->
                        <br>

                        <div class="card-details">{{job.summary}}</div>
                        <br>
                        <br>

                        <a target="_blank" href="{{job.url}}">
                            <md-button class="md-raised apply">Read More...</md-button>
                        </a>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="searchDone" class="col s8 offset-s1">
            <img src="../../assets/images/placeHolder.png">
        </div>


        <md-sidenav id='rightsidebar' class="md-sidenav-right md-whiteframe-z2 col s2" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" class="md-padding">
                <!--   <div ng-repeat="job in savedJobsFrontPage" class="row">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{job.jobtitle}} At {{job.company}}</span>
                            <p>{{job.formattedLocationFull}}
                                <br> {{job.date | date}}
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="{{job.url}}" target="_blank">More Info </a>
                            <button ng-click="removeJobFromUser(job)">Remove job</button>
                        </div>
                    </div>
                </div> -->
                <div class="collapsible" data-collapsible="accordion">
                  <ul ng-repeat="job in savedJobsFrontPage">
                    <li>
                        <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>  {{job.company.substring(0,24)}}
                        </div>
                        <div class="collapsible-body">
                            <p> <strong>Job Title:</strong> {{job.jobtitle}}
                                <br> <strong>Location:</strong> {{job.formattedLocationFull}}
                                <br> <strong>Date Posted:</strong> {{job.date | date}}
                                <br> {{job.snippet}}
                                <br> <strong>{{job.user_ids.length}}<strong> users saved this job
                                <br>
                                <strong ng-show="{{job.user_ids.length}}>50" style="color: red;">Competitive</strong>
                               <strong  ng-show="{{job.user_ids.length}}<50" style="color: green;">Not Competitive</strong>
                                <br>
                                <a href="{{job.url}}" target="_blank">More Info </a>
                                <md-button ng-click="removeJobFromUser(job)">Remove job</md-button>
                            </p>
                        </div>
                    </li>
                  </ul>
                </div>
                <md-button ng-click="close()" class="md-primary">
                </md-button>
            </md-content>
        </md-sidenav>
    </div>
</div>