<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
 
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">

      <md-card ng-hide="searchDone">
         <div ng-repeat="job in jobArray" ng-show="$index===currentJob">
            <div class="card-title">{{job.jobtitle}}</div>
            <div class="card-city">{{job.formattedLocationFull}}</div>
            <div class="card-company">{{job.company}}</div>
            <div class="card-details">{{job.snippet}}</div>
            <div class="card-url"><a href="{{job.url}}" target="_blank">Apply</a></div>
            <div>{{$index}}</div>
        </div>
         <div>
            <md-button class="md-raised md-primary pass">Pass</md-button>
            <md-button class="md-raised md-primary save"  ng-click="savedJob(job)">Save</md-button>
       </div>
      </md-card>
      <div ng-show="searchDone">
        <p>Try searching for another job</p>
      </div>
      {{jobArray}}
    </div>
  </div>
</div>
<footer class="footer">
</footer>
