.background {
    background: #FCFCFC;
    height: 100%;
    width: 100%;
}
.fillerdiv {
    height: 300px;
}
.thing-form {
    margin: 20px 0;
}
#banner {
    border-bottom: none;
    margin-top: -20px;
}
#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
/*md-card {
    height: 600px;
    width: 100%;
    position: relative;
    background-color: #fff;
}*/

.buttons {
    bottom: 48px;
    padding-bottom: 40px;
}
.savetime {
    position: relative;
    bottom: 0%;
    width: 100px;
    height: 40px;
    float: right;
    right: 10%;
    color: #fff;
}

.card a {
    color: #fff;
}
.passtime {
    position: relative;
    bottom: 0%;
    width: 100px;
    height: 40px;
    float: left;
    left: 10%;
    color: #fff;
}
.card a {
    color: #fff;
}

.card a:hover{
 color: #1B86BC;
}
.apply {
    left: 30%;
    width: 200px;
}
.card-title {
    font-size: 25px;
}
.card-details {
    font-size: 20px;
}
.card-city {
    font-size: 18px;
}
.date-posted {
    font-size: 18px;
}
.card-city {
    font-size: 18px;
}
.card-company {
    font-size: 23px;
}
.navbar-static-top {
    background-color: #fff;
    border: none;
    margin-bottom: none;
}
li.a.active {
    background-color: #fff;
}
.md-sidenav-left {
    height: 800px;
    float: left;
}
.card-image {
    height: 470px;
    float: right;
}
#buttonsDiv {
    height: 570px;
    margin-bottom: 100px;
}
.jobsCard {
    margin-top: 50px;
}
#rightsidebar {
    margin-top: 75px;
}

.card-panel {
    background-color: #fff;
    opacity: .8;
    text-align: center;
    padding: 1px;
}
.btn{
    background-color: #1B86BC;
    color: #fff;
    opacity: .8;
}
.btn:hover {
    background-color: #FCFCFC;
    color: #1B86BC;
}

.update {
    float: left;
}

.savedJobs {
    float: right;
}

.card .details {
    color: #1B86BC;
    margin-left: 300px;
}
.card .details:hover {

}
.apply-bottom {

}

.datelocation {
    background-color: #FCFCFC;
}

.colorize {
   color:#37474f;
}

.bluecolors {
        color: #1B86BC;
}

.paddingdescription {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
}