.job-post {
	margin-top: 50px;
}

.post-buttons {
	margin-bottom: 50px;
}

.jobPostBox {
	margin-top: 150px;
	width: 200px;
	margin-left: 35%;
}

#bigEdits {
	textarea {
		height: 150px;
		width: 300px;
		margin-bottom: 15px; 
		padding: 15px;
	}
}

.postform {
	padding: 20px;
}

.toppost {
	top: 50px;
}