<div class="card large toppost">
    <div class="postform">
    <form name="newPost">
        <p>Name:
        <textarea ng-model="job.jobtitle" name="title" class="form-control" rows="1" placeholder="Enter Position Title" required></textarea></p>
        <small class="error" ng-show="newPost.title.$error.required">
         Your name is required.
          </small>
        <p>Location:
        <textarea ng-model="job.formattedLocationFull" class="form-control" rows="1" placeholder="Location"></textarea></p>
        <p>Company:
        <textarea ng-model="job.company" class="form-control" rows="1" placeholder="Company"></textarea></p>
        <p>Snippet:
        <textarea ng-model="job.snippet" name="snippet" class="form-control" rows="3" placeholder="Snippet" type="text" ng-minlength=100></textarea></p>
        <small style="color: red;" class="error" ng-show="newPost.snippet.$error.minlength">
          Snippet requires at least 100 characters
        </small>
        <p> Description:
        <textarea ng-model="job.summary" name='summary' class="form-control" rows="3" placeholder="Description" type="text" ng-minlength=200></textarea></p>
        <small style="color: red;" class="error" ng-show="newPost.summary.$error.minlength">
          Description requires at least 200 characters
        </small>
        <p> Qualifications:
        <textarea ng-model="job.qualifications" class="form-control" rows="3" placeholder="Qualifications"></textarea></p>
    </form>
    <br>
                <a class="btn savetime" ng-disabled="newPost.$invalid" type="submit" ng-click="postJob(job)">Save</a>
                <a class="btn passtime" ng-click="discardForm()">Discard</a>
    </div>
    <br>
    <br>
</div>
<!--
      <div class="row job-post">
        <div class="col s4 offset-s2">
          <div class="card">
            <div class="card-image">
              <span class="card-title">Post a Job</span>
            </div>
            <div class="card-content">
                <form name="newPost">
                    <textarea ng-model="job.jobtitle" class="form-control" rows="1" placeholder="Enter Position Title"></textarea><br>
                    <textarea ng-model="job.formattedLocationFull" class="form-control" rows="1" placeholder="Location"></textarea><br>
                    <textarea ng-model="job.company" class="form-control" rows="1" placeholder="Company"></textarea><br>
                    <textarea ng-model="job.snippet" class="form-control" rows="3" placeholder="Snippet, min 50 characters" ng-required="true" ng-minlength="50"></textarea><br>
                    <textarea ng-model="job.summary" class="form-control" rows="3" placeholder="Description, min 200 characters" ng-required="true" ng-minlength="200"></textarea><br>
                    <textarea ng-model="job.qualifications" class="form-control" rows="3" placeholder="Qualifications"></textarea><br>
            </div>
            <div class="card-action post-buttons">
                    <md-button class="md-raised md-warn pass" ng-click="discardForm()">Discard</md-button>
                    <md-button class="md-raised md-primary save" type="submit" ng-click="postJob(job)">Save</md-button>
            </div>
            </form>
          </div>
        </div>
      </div>
 -->

