      <div class="row job-post">
        <div class="col s4 offset-s2">
          <div class="card">
            <div class="card-image">
              <span class="card-title">Post a Job</span>
            </div>
            <div class="card-content">
                <form name="newPost">
                    <textarea ng-model="job.jobtitle" class="form-control" rows="1" placeholder="Enter Position Title"></textarea><br>
                    <textarea ng-model="job.formattedLocationFull" class="form-control" rows="1" placeholder="Location"></textarea><br>
                    <textarea ng-model="job.company" class="form-control" rows="1" placeholder="Company"></textarea><br>
                    <textarea ng-model="job.snippet" class="form-control" rows="3" placeholder="Snippet, min 50 characters" ng-required="true" ng-minlength="50"></textarea><br>
                    <textarea ng-model="job.summary" class="form-control" rows="3" placeholder="Description, min 200 characters" ng-required="true" ng-minlength="200"></textarea><br>
                    <textarea ng-model="job.qualifications" class="form-control" rows="3" placeholder="Qualifications"></textarea><br>
            </div>
            <div class="card-action post-buttons">
                    <md-button class="md-raised md-warn pass" ng-click="discardForm()">Discard</md-button>
                    <md-button class="md-raised md-primary save" type="submit" ng-click="postJob(job)">Save</md-button>
            </div>
            </form>
          </div>
        </div>
      </div>

