          <!-- Pullup Card -->
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="user-information">
                </div>
              </div>
              <div class="card-content">
               <div class="card-title activator grey-text text-darken-4"><div style="float:left"> {{cardUser.name}}</div><i class="mdi-navigation-more-vert right">Read More</i></div><br>
               <br><br>

                 <div class="card-panel" style="text-align: left">{{cardUser.linkedin.headline}}<br>
                {{cardUser.linkedin.emailAddress}}<br> 
                {{cardUser.linkedin.location.name}}</div>
                <p ng-repeat="job in cardUser.linkedin.positions.values">{{job.title}}<br> {{job.company.name}}<br>Start Date: {{job.startDate.month}}/{{job.startDate.year}}<br>
                End Date: {{job.endDate.month}}/{{job.endDate.year}}
                </p>
                <br>

                 <a class="btn passtime" ng-click="removeUser(cardUser, cardJob)">
                   <b> Discard</b>
                </a>
                <a class="btn savetime" ng-click="saveCandidate(cardUser, cardJob)">
                    <b>  Save </b>
                </a>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Education and Skills<i class="mdi-navigation-close right">Go Back</i></span>
                <row>
                <h3>Education</h3>
                <p class= "col s6" ng-repeat="education in cardUser.linkedin.educations.values"><i>{{education.schoolName}}</i><br>{{education.degree}}<br> {{education.fieldOfStudy}}</p>
                </row>
                <row>
                <h3> Skills </h3>
                <p class= "col s2" ng-repeat="skills in cardUser.linkedin.skills.values">{{skills.skill.name}}</p>
                </row>
              </div>
