 <div class="col-md-9 container cards">
            <div class="col-md-6 col-lg-6 col-sm-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                <md-card>
                    <md-content class="md-padding">
                        <div ng-repeat="user in users" ng-show="$index===currentUser">
                            <div class="card-title"><strong>{{user.name}}</strong>
                            </div>
                            <div class="date-posted">{{user.linkedin.headline}}</div>
                            <br>
                            <br>
                            <md-button class="md-raised apply">Read More...</md-button>
                            </a>

                    </md-content>
                    <div class="buttons">
                        <md-button class="md-raised md-warn pass">Pass</md-button>
                        <md-button class="md-raised md-primary save" ng-click="savedUser(user)">Save</md-button>
                    </div>
                    </div>
                </md-card>
        </div>